<div class="jumbotron">
    <h1>Hacker News Scraper</h1>
    <button id="scrapeButton">Scrape!</button>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{#each articles}}
            {{> articles/article-block}}
            {{/each}}
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>